src/Trcont.CitTrans.Service/Connected Services/CitTrans/CitTrans_BizTalk1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s4="http://CitTransSchemas.14-Waybill_Info_Inquiry" xmlns:s3="http://CitTransSchemas.05-ResultMessage" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s8="http://CitTransSchemas.Inform_External_Agents" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s6="http://CitTransSchemas.32-Confirm_Booking_Info" xmlns:s26="http://CitTransSchemas.Finished_Plan" xmlns:s13="http://CitTransSchemas.17-KEU16_Info" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s14="http://CitTransSchemas.Get_Container_Dislocation" xmlns:s20="http://CitTransSchemas.01-Containers_Info_Inquiry" xmlns:s15="http://CitTransSchemas.Container_Dislocation_Info" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://CitTransSchemas.31-Booking_Info_Inquiry" xmlns:s10="http://BizTalk_Server_Project2.33_Release_Booking_Inquiry" xmlns:s11="http://CitTransSchemas.WagonSheets" xmlns:s12="http://CitTransSchemas.16-Waybill_Info" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s9="http://CitTransSchemas.35-Deny_Booking" xmlns:s7="http://CitTransSchemas.02-ReturnMessage" xmlns:s23="http://CitTransSchemas.10-Container_Area_State_Info" xmlns:s24="http://BizTalk_Server_Project2.34_Release_Booking" xmlns:s25="http://CitTransSchemas.Service_Desk_Request" xmlns:s16="http://CitTransSchemas.23-Container_State_Inquiry" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://CitTransSchemas.Defines" xmlns:s18="http://CitTransSchemas.25-Acceptance_Certificate_Inquiry" xmlns:s19="http://CitTransSchemas.26-Acceptance_Certificate_Data" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s21="http://CitTransSchemas.03-Containers_Info" xmlns:s22="http://CitTransSchemas.09-Container_Area_State_Inquiry" xmlns:s5="http://CitTransSchemas.15-Waybill_Data" xmlns:tns="http://CitTrans_BizTalk" xmlns:s17="http://CitTransSchemas.24-Container_State_Info" targetNamespace="http://CitTrans_BizTalk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "CitTrans_BizTalk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=478c78ce4aa249b3" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTrans_BizTalk">
      <s:import namespace="http://CitTransSchemas.31-Booking_Info_Inquiry" />
      <s:import namespace="http://CitTransSchemas.05-ResultMessage" />
      <s:import namespace="http://CitTransSchemas.14-Waybill_Info_Inquiry" />
      <s:import namespace="http://CitTransSchemas.15-Waybill_Data" />
      <s:import namespace="http://CitTransSchemas.32-Confirm_Booking_Info" />
      <s:import namespace="http://CitTransSchemas.02-ReturnMessage" />
      <s:import namespace="http://CitTransSchemas.Inform_External_Agents" />
      <s:import namespace="http://CitTransSchemas.35-Deny_Booking" />
      <s:import namespace="http://BizTalk_Server_Project2.33_Release_Booking_Inquiry" />
      <s:import namespace="http://CitTransSchemas.WagonSheets" />
      <s:import namespace="http://CitTransSchemas.16-Waybill_Info" />
      <s:import namespace="http://CitTransSchemas.17-KEU16_Info" />
      <s:import namespace="http://CitTransSchemas.Get_Container_Dislocation" />
      <s:import namespace="http://CitTransSchemas.Container_Dislocation_Info" />
      <s:import namespace="http://CitTransSchemas.23-Container_State_Inquiry" />
      <s:import namespace="http://CitTransSchemas.24-Container_State_Info" />
      <s:import namespace="http://CitTransSchemas.25-Acceptance_Certificate_Inquiry" />
      <s:import namespace="http://CitTransSchemas.26-Acceptance_Certificate_Data" />
      <s:import namespace="http://CitTransSchemas.01-Containers_Info_Inquiry" />
      <s:import namespace="http://CitTransSchemas.03-Containers_Info" />
      <s:import namespace="http://CitTransSchemas.09-Container_Area_State_Inquiry" />
      <s:import namespace="http://CitTransSchemas.10-Container_Area_State_Info" />
      <s:import namespace="http://BizTalk_Server_Project2.34_Release_Booking" />
      <s:import namespace="http://CitTransSchemas.Service_Desk_Request" />
      <s:import namespace="http://CitTransSchemas.Finished_Plan" />
      <s:element name="Transfer_Booking_Info_Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:booking_info_Inquiry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_Booking_Info_InquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:ResultMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Waybill_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:Waybill_Info_Inquiry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Waybill_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s5:Waybill_Data" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Take_Confirm_Booking_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s6:Confirm_Booking_Info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Take_Confirm_Booking_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inform_External_Agents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s8:Inform_External_Agents" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inform_External_AgentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Deny_Booking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s9:Deny_Booking" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Deny_BookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_Release_Booking_Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s10:Release_Booking" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_Release_Booking_InquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:ResultMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Wagon_LoadOut_Sheets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s11:Root" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Wagon_LoadOut_SheetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_Waybill_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s12:Waybill_Info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_Waybill_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_KEU16">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s13:KEU16_Info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_KEU16Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContainerDislocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s14:Get_Container_Dislocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContainerDislocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s15:ContainerDislocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Container_State">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s16:Container_State_Inquiry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Container_StateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s17:Container_State_Info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Wagon_Sheets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s11:Root" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Wagon_SheetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Acceptance_Certificate_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s18:Acceptance_Certificate_Inquiry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Acceptance_Certificate_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s19:Acceptance_Certificate_Data" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Info_about_Containers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s20:Containers_Info_Inquiry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Info_about_ContainersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s21:Containers_Info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Container_Area_State">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s22:Container_Area_State_Inquiry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inquiry_Container_Area_StateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s23:Container_Area_State_Info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Take_Release_Booking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s24:Release_Booking" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Take_Release_BookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Service_Desk_Request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s25:Service_Desk_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Service_Desk_RequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_Finished_Plan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s26:Finished_Plan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer_Finished_PlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s7:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.31-Booking_Info_Inquiry">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="booking_info_Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Initiator" type="s2:Values" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="Client" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="PlanReleasePeriod" type="s2:Period" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainerType" type="s2:Values" />
            <s:element minOccurs="1" maxOccurs="1" name="ContainerQnt" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="StationFrom" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="InitialPlace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BorderCrosingStation" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="StationTo" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="FinalPlace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InitiatorsRemark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InitiatorsEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmptyContainerRegion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Consignee" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="ConsigneeEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdditionalContainerType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NewContainer" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="UnicoFreight" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.Defines">
      <s:complexType name="Values">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Firm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeOKPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeINN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeKPP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Agents" type="s2:ArrayOfPerson" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Agent" type="s2:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Period">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BeginDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Station">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s2:Values" />
          <s:element minOccurs="0" maxOccurs="1" name="StationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StationName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Initiator" type="s2:Values" />
      <s:element name="Provider" type="s2:Values" />
      <s:element name="InfoType" type="s2:Values" />
      <s:element name="Respondent" type="s2:Values" />
      <s:complexType name="Cargo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="CodeGNG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="CodeETSNG" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PackageWeight" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="FactWeight" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PieceQnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CargoVolume" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="KP" type="s2:KP" />
      <s:complexType name="KP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Station" type="s2:Station" />
          <s:element minOccurs="0" maxOccurs="1" name="Agency" type="s2:Firm" />
        </s:sequence>
      </s:complexType>
      <s:element name="Container" type="s2:Container" />
      <s:complexType name="Container">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContainerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContainerOwner" type="s2:Firm" />
          <s:element minOccurs="0" maxOccurs="1" name="ContainerType" type="s2:Values" />
          <s:element minOccurs="0" maxOccurs="1" name="ContainerOwnerType" type="s2:Values" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FactWeight" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Brutto" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLoaded" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReady" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LastOperation" type="s2:Service" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Service">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s2:Values" />
          <s:element minOccurs="0" maxOccurs="1" name="Station" type="s2:Station" />
          <s:element minOccurs="0" maxOccurs="1" name="Executor" type="s2:Firm" />
        </s:sequence>
      </s:complexType>
      <s:element name="Cargo" type="s2:Cargo" />
      <s:element name="Agency" type="s2:Firm" />
      <s:element name="Route" type="s2:Route" />
      <s:complexType name="Route">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StationFrom" type="s2:Station" />
          <s:element minOccurs="0" maxOccurs="1" name="StationTo" type="s2:Station" />
          <s:element minOccurs="0" maxOccurs="1" name="DispatchNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LoadFrom" type="s2:Firm" />
          <s:element minOccurs="0" maxOccurs="1" name="LoadTo" type="s2:Firm" />
          <s:element minOccurs="0" maxOccurs="1" name="StationDelivery" type="s2:Station" />
        </s:sequence>
      </s:complexType>
      <s:element name="Station" type="s2:Station" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.05-ResultMessage">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="ResultMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="s2:Values" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="Warnings" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="Errors" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.14-Waybill_Info_Inquiry">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Waybill_Info_Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NaklNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Initiator" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.15-Waybill_Data">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Waybill_Data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadFrom" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="StationTo" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="ContainersDelivery">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="CarLicensePlate" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Driver" type="s2:Person" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.32-Confirm_Booking_Info">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Confirm_Booking_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Initiator" type="s2:Values" />
            <s:element minOccurs="0" maxOccurs="1" name="BookingNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BookingDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="Client" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="PlanReleasePeriod" type="s2:Period" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainerType" type="s2:Values" />
            <s:element minOccurs="1" maxOccurs="1" name="ContainerQnt" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="StationFrom" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="InitialPlace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BorderCrossingStation" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="StationTo" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="FinalPlace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainerDepot" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ContQntAccepted" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PrintedImage" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.02-ReturnMessage">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="ReturnMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="StartDateTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Initiator" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Provider" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:InfoType" />
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="s2:Values" />
            <s:element minOccurs="0" maxOccurs="1" name="Warnings" type="s7:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s7:ArrayOfString1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Warning" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.Inform_External_Agents">
      <s:element name="Inform_External_Agents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WorkPlanId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="StationsXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.35-Deny_Booking">
      <s:element name="Deny_Booking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="BookingNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BookingDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="ReleaseNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReleaseDate" type="s:date" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://BizTalk_Server_Project2.33_Release_Booking_Inquiry">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Release_Booking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Initiator" type="s2:Values" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="BookingNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BookingDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="RecipientOfContainers" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="InitiatorsEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.WagonSheets">
      <s:element name="Root">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="BeginDate" type="s:date" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.16-Waybill_Info">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Waybill_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="NaklNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadFrom" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="StationTo" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="ContainersDelivery">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="CarLicensePlate" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Driver" type="s2:Person" />
                  <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s2:Values" />
                  <s:element minOccurs="0" maxOccurs="1" ref="s2:Respondent" />
                  <s:element minOccurs="0" maxOccurs="1" name="ArrivalDate" type="s:dateTime" />
                  <s:element minOccurs="0" maxOccurs="1" name="LeaveDate" type="s:dateTime" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.17-KEU16_Info">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="KEU16_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="KEU16Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Expeditor" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadFrom" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadTo" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="Station" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="StationIn" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="ContainersInfo">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerType" type="s2:Values" />
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerOwnerType" type="s2:Values" />
                  <s:element minOccurs="0" maxOccurs="1" name="CargoIssuanceInfo">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Cargo" type="s2:Cargo" />
                        <s:element minOccurs="0" maxOccurs="1" name="CarLicensePlate" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="DeliveryDate" type="s:dateTime" />
                        <s:element minOccurs="0" maxOccurs="1" name="CarArrivalDate" type="s:dateTime" />
                        <s:element minOccurs="0" maxOccurs="1" name="CarLeaveDate" type="s:dateTime" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerIssuanceInfo" type="s13:ContainerIssuanceGettingInfo" />
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerGettingInfo" type="s13:ContainerIssuanceGettingInfo" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ContainerIssuanceGettingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DogovorNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DogovorDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="WarrantNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WarrantDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="CarLicensePlate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="KEU16Date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.Get_Container_Dislocation">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Get_Container_Dislocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Initiator" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KontNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.Container_Dislocation_Info">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="ContainerDislocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="ContainetDislocationInfo">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KontNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s2:Values" />
                  <s:element minOccurs="0" maxOccurs="1" name="OperStation" type="s2:Station" />
                  <s:element minOccurs="1" maxOccurs="1" name="OperDate" type="s:dateTime" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.23-Container_State_Inquiry">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Container_State_Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Initiator" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.24-Container_State_Info">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Container_State_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:KP" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Container" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Cargo" />
            <s:element minOccurs="1" maxOccurs="1" name="InfoDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="LocationOnKP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.25-Acceptance_Certificate_Inquiry">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Acceptance_Certificate_Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NaklNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Initiator" />
            <s:element minOccurs="0" maxOccurs="1" name="SignArrival" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.26-Acceptance_Certificate_Data">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Acceptance_Certificate_Data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Expeditor" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadFrom" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="LoadTo" type="s2:Firm" />
            <s:element minOccurs="0" maxOccurs="1" name="StationFrom" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="StationTo" type="s2:Station" />
            <s:element minOccurs="0" maxOccurs="1" name="DogovorNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DogovorDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="ContainersInfo">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerType" type="s2:Values" />
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerOwnerType" type="s2:Values" />
                  <s:element minOccurs="0" maxOccurs="1" name="CargoIssuanceInfo" type="s19:ArrayOfCargo" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="CargoName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodeETSNG" type="s:int" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="OrderServices" type="s2:Service" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCargo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cargo" type="s2:Cargo" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.01-Containers_Info_Inquiry">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Containers_Info_Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Initiator" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Agency" />
            <s:element minOccurs="0" maxOccurs="unbounded" ref="s2:KP" />
            <s:element minOccurs="1" maxOccurs="1" name="InfoDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="ContainerLoadSign" type="s2:Values" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.03-Containers_Info">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Containers_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="InfoDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Agency" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="KPsInfo">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s2:KP" />
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ContainersInfo">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" ref="s2:Container" />
                        <s:element minOccurs="0" maxOccurs="1" name="OperationAddress" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ContainerState" type="s2:Values" />
                        <s:element minOccurs="0" maxOccurs="1" ref="s2:Route" />
                        <s:element minOccurs="0" maxOccurs="1" name="Status" type="s2:Values" />
                        <s:element minOccurs="0" maxOccurs="1" ref="s2:Station" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.09-Container_Area_State_Inquiry">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Container_Area_State_Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Initiator" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:KP" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.10-Container_Area_State_Info">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Container_Area_State_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="InfoDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" ref="s2:KP" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="ContainersStateInfo">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s2:Container" />
                  <s:element minOccurs="0" maxOccurs="1" name="OperationAddress" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ContainerState" type="s2:Values" />
                  <s:element minOccurs="0" maxOccurs="1" name="LocationOnKP" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://BizTalk_Server_Project2.34_Release_Booking">
      <s:import namespace="http://CitTransSchemas.Defines" />
      <s:element name="Release_Booking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Initiator" type="s2:Values" />
            <s:element minOccurs="0" maxOccurs="1" name="ReleaseNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReleaseDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="BookingNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BookingDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="PrintedImage" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.Service_Desk_Request">
      <s:element name="Service_Desk_Request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContractTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="File">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="FileBody" type="s:base64Binary" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CitTransSchemas.Finished_Plan">
      <s:element name="Finished_Plan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTestMessage" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="WorkPlanId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderGraphId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Transfer_Booking_Info_InquirySoapIn">
    <wsdl:part name="parameters" element="tns:Transfer_Booking_Info_Inquiry" />
  </wsdl:message>
  <wsdl:message name="Transfer_Booking_Info_InquirySoapOut">
    <wsdl:part name="parameters" element="tns:Transfer_Booking_Info_InquiryResponse" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Waybill_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:Inquiry_Waybill_Info" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Waybill_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:Inquiry_Waybill_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="Take_Confirm_Booking_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:Take_Confirm_Booking_Info" />
  </wsdl:message>
  <wsdl:message name="Take_Confirm_Booking_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:Take_Confirm_Booking_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="Inform_External_AgentsSoapIn">
    <wsdl:part name="parameters" element="tns:Inform_External_Agents" />
  </wsdl:message>
  <wsdl:message name="Inform_External_AgentsSoapOut">
    <wsdl:part name="parameters" element="tns:Inform_External_AgentsResponse" />
  </wsdl:message>
  <wsdl:message name="Deny_BookingSoapIn">
    <wsdl:part name="parameters" element="tns:Deny_Booking" />
  </wsdl:message>
  <wsdl:message name="Deny_BookingSoapOut">
    <wsdl:part name="parameters" element="tns:Deny_BookingResponse" />
  </wsdl:message>
  <wsdl:message name="Transfer_Release_Booking_InquirySoapIn">
    <wsdl:part name="parameters" element="tns:Transfer_Release_Booking_Inquiry" />
  </wsdl:message>
  <wsdl:message name="Transfer_Release_Booking_InquirySoapOut">
    <wsdl:part name="parameters" element="tns:Transfer_Release_Booking_InquiryResponse" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Wagon_LoadOut_SheetsSoapIn">
    <wsdl:part name="parameters" element="tns:Inquiry_Wagon_LoadOut_Sheets" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Wagon_LoadOut_SheetsSoapOut">
    <wsdl:part name="parameters" element="tns:Inquiry_Wagon_LoadOut_SheetsResponse" />
  </wsdl:message>
  <wsdl:message name="Transfer_Waybill_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:Transfer_Waybill_Info" />
  </wsdl:message>
  <wsdl:message name="Transfer_Waybill_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:Transfer_Waybill_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="Transfer_KEU16SoapIn">
    <wsdl:part name="parameters" element="tns:Transfer_KEU16" />
  </wsdl:message>
  <wsdl:message name="Transfer_KEU16SoapOut">
    <wsdl:part name="parameters" element="tns:Transfer_KEU16Response" />
  </wsdl:message>
  <wsdl:message name="GetContainerDislocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetContainerDislocation" />
  </wsdl:message>
  <wsdl:message name="GetContainerDislocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetContainerDislocationResponse" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Container_StateSoapIn">
    <wsdl:part name="parameters" element="tns:Inquiry_Container_State" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Container_StateSoapOut">
    <wsdl:part name="parameters" element="tns:Inquiry_Container_StateResponse" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Wagon_SheetsSoapIn">
    <wsdl:part name="parameters" element="tns:Inquiry_Wagon_Sheets" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Wagon_SheetsSoapOut">
    <wsdl:part name="parameters" element="tns:Inquiry_Wagon_SheetsResponse" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Acceptance_Certificate_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:Inquiry_Acceptance_Certificate_Info" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Acceptance_Certificate_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:Inquiry_Acceptance_Certificate_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Info_about_ContainersSoapIn">
    <wsdl:part name="parameters" element="tns:Inquiry_Info_about_Containers" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Info_about_ContainersSoapOut">
    <wsdl:part name="parameters" element="tns:Inquiry_Info_about_ContainersResponse" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Container_Area_StateSoapIn">
    <wsdl:part name="parameters" element="tns:Inquiry_Container_Area_State" />
  </wsdl:message>
  <wsdl:message name="Inquiry_Container_Area_StateSoapOut">
    <wsdl:part name="parameters" element="tns:Inquiry_Container_Area_StateResponse" />
  </wsdl:message>
  <wsdl:message name="Take_Release_BookingSoapIn">
    <wsdl:part name="parameters" element="tns:Take_Release_Booking" />
  </wsdl:message>
  <wsdl:message name="Take_Release_BookingSoapOut">
    <wsdl:part name="parameters" element="tns:Take_Release_BookingResponse" />
  </wsdl:message>
  <wsdl:message name="Service_Desk_RequestSoapIn">
    <wsdl:part name="parameters" element="tns:Service_Desk_Request" />
  </wsdl:message>
  <wsdl:message name="Service_Desk_RequestSoapOut">
    <wsdl:part name="parameters" element="tns:Service_Desk_RequestResponse" />
  </wsdl:message>
  <wsdl:message name="Transfer_Finished_PlanSoapIn">
    <wsdl:part name="parameters" element="tns:Transfer_Finished_Plan" />
  </wsdl:message>
  <wsdl:message name="Transfer_Finished_PlanSoapOut">
    <wsdl:part name="parameters" element="tns:Transfer_Finished_PlanResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_CitTrans_BizTalkSoap">
    <wsdl:operation name="Transfer_Booking_Info_Inquiry">
      <wsdl:input message="tns:Transfer_Booking_Info_InquirySoapIn" />
      <wsdl:output message="tns:Transfer_Booking_Info_InquirySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Waybill_Info">
      <wsdl:input message="tns:Inquiry_Waybill_InfoSoapIn" />
      <wsdl:output message="tns:Inquiry_Waybill_InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Take_Confirm_Booking_Info">
      <wsdl:input message="tns:Take_Confirm_Booking_InfoSoapIn" />
      <wsdl:output message="tns:Take_Confirm_Booking_InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inform_External_Agents">
      <wsdl:input message="tns:Inform_External_AgentsSoapIn" />
      <wsdl:output message="tns:Inform_External_AgentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Deny_Booking">
      <wsdl:input message="tns:Deny_BookingSoapIn" />
      <wsdl:output message="tns:Deny_BookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transfer_Release_Booking_Inquiry">
      <wsdl:input message="tns:Transfer_Release_Booking_InquirySoapIn" />
      <wsdl:output message="tns:Transfer_Release_Booking_InquirySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Wagon_LoadOut_Sheets">
      <wsdl:input message="tns:Inquiry_Wagon_LoadOut_SheetsSoapIn" />
      <wsdl:output message="tns:Inquiry_Wagon_LoadOut_SheetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transfer_Waybill_Info">
      <wsdl:input message="tns:Transfer_Waybill_InfoSoapIn" />
      <wsdl:output message="tns:Transfer_Waybill_InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transfer_KEU16">
      <wsdl:input message="tns:Transfer_KEU16SoapIn" />
      <wsdl:output message="tns:Transfer_KEU16SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContainerDislocation">
      <wsdl:input message="tns:GetContainerDislocationSoapIn" />
      <wsdl:output message="tns:GetContainerDislocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Container_State">
      <wsdl:input message="tns:Inquiry_Container_StateSoapIn" />
      <wsdl:output message="tns:Inquiry_Container_StateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Wagon_Sheets">
      <wsdl:input message="tns:Inquiry_Wagon_SheetsSoapIn" />
      <wsdl:output message="tns:Inquiry_Wagon_SheetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Acceptance_Certificate_Info">
      <wsdl:input message="tns:Inquiry_Acceptance_Certificate_InfoSoapIn" />
      <wsdl:output message="tns:Inquiry_Acceptance_Certificate_InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Info_about_Containers">
      <wsdl:input message="tns:Inquiry_Info_about_ContainersSoapIn" />
      <wsdl:output message="tns:Inquiry_Info_about_ContainersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Container_Area_State">
      <wsdl:input message="tns:Inquiry_Container_Area_StateSoapIn" />
      <wsdl:output message="tns:Inquiry_Container_Area_StateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Take_Release_Booking">
      <wsdl:input message="tns:Take_Release_BookingSoapIn" />
      <wsdl:output message="tns:Take_Release_BookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Service_Desk_Request">
      <wsdl:input message="tns:Service_Desk_RequestSoapIn" />
      <wsdl:output message="tns:Service_Desk_RequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transfer_Finished_Plan">
      <wsdl:input message="tns:Transfer_Finished_PlanSoapIn" />
      <wsdl:output message="tns:Transfer_Finished_PlanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_CitTrans_BizTalkSoap" type="tns:WebService_CitTrans_BizTalkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Transfer_Booking_Info_Inquiry">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_Booking_Info_Inquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Waybill_Info">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Waybill_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_Confirm_Booking_Info">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Take_Confirm_Booking_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inform_External_Agents">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inform_External_Agents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deny_Booking">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Deny_Booking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer_Release_Booking_Inquiry">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_Release_Booking_Inquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Wagon_LoadOut_Sheets">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Wagon_LoadOut_Sheets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer_Waybill_Info">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_Waybill_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer_KEU16">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_KEU16" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContainerDislocation">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/GetContainerDislocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Container_State">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Container_State" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Wagon_Sheets">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Wagon_Sheets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Acceptance_Certificate_Info">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Acceptance_Certificate_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Info_about_Containers">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Info_about_Containers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Container_Area_State">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Container_Area_State" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_Release_Booking">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Take_Release_Booking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Service_Desk_Request">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Service_Desk_Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer_Finished_Plan">
      <soap:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_Finished_Plan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_CitTrans_BizTalkSoap12" type="tns:WebService_CitTrans_BizTalkSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Transfer_Booking_Info_Inquiry">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_Booking_Info_Inquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Waybill_Info">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Waybill_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_Confirm_Booking_Info">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Take_Confirm_Booking_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inform_External_Agents">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inform_External_Agents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deny_Booking">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Deny_Booking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer_Release_Booking_Inquiry">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_Release_Booking_Inquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Wagon_LoadOut_Sheets">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Wagon_LoadOut_Sheets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer_Waybill_Info">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_Waybill_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer_KEU16">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_KEU16" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContainerDislocation">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/GetContainerDislocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Container_State">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Container_State" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Wagon_Sheets">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Wagon_Sheets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Acceptance_Certificate_Info">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Acceptance_Certificate_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Info_about_Containers">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Info_about_Containers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry_Container_Area_State">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Inquiry_Container_Area_State" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_Release_Booking">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Take_Release_Booking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Service_Desk_Request">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Service_Desk_Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer_Finished_Plan">
      <soap12:operation soapAction="http://CitTrans_BizTalk/WebService_CitTrans_BizTalk/Transfer_Finished_Plan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_CitTrans_BizTalk">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "CitTrans_BizTalk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=478c78ce4aa249b3" published web service.</wsdl:documentation>
    <wsdl:port name="WebService_CitTrans_BizTalkSoap" binding="tns:WebService_CitTrans_BizTalkSoap">
      <soap:address location="http://biztalk.trcont.ru/CitTrans_BizTalk/CitTrans_BizTalk.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_CitTrans_BizTalkSoap12" binding="tns:WebService_CitTrans_BizTalkSoap12">
      <soap12:address location="http://biztalk.trcont.ru/CitTrans_BizTalk/CitTrans_BizTalk.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>