src/Trcont.Fss.Service/Connected Services/MMTCService/MMTCService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.11.141:1451/MMTCService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspMan.AppServer.Wcf" />
  <xs:element name="DoCalculateTariff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TranspMan.AppServer.Wcf" minOccurs="0" name="mmtcParams" nillable="true" type="q1:MMTCCalculateTariffParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoCalculateTariffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TranspMan.AppServer.Wcf" minOccurs="0" name="DoCalculateTariffResult" nillable="true" type="q2:MMTCCalculateTariffResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TranspMan.AppServer.Wcf" minOccurs="0" name="refbookParams" nillable="true" type="q3:MMTCGetRefbookParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefbookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TranspMan.AppServer.Wcf" minOccurs="0" name="GetRefbookResult" nillable="true" type="q4:MMTCGetRefbookResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>