src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KDTS.TEOOperation.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KDTS.TEOOperation.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderFactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderFactInfo" nillable="true" type="tns:OrderFactInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderFactInfo" nillable="true" type="tns:ArrayOfOrderFactInfo" />
  <xs:complexType name="OrderFactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KontNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaklNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StInDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StOutDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagonNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderFactInfo" nillable="true" type="tns:OrderFactInfo" />
</xs:schema>