src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Order.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TransCondition.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Ssp" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.InfoOnCP.Objects" />
  <xs:element name="GetAPIScriptKeyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppScriptKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="APIScriptParameters" nillable="true" type="q1:ArrayOfAPIScriptParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPIScriptKeyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetAPIScriptKeyDataResult" nillable="true" type="q2:DataTableResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPIScriptIdData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APIScriptId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="APIScriptParameters" nillable="true" type="q3:ArrayOfAPIScriptParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPIScriptIdDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetAPIScriptIdDataResult" nillable="true" type="q4:DataTableResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPIPSScriptIdData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APIScriptId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="APIScriptParameters" nillable="true" type="q5:ArrayOfAPIScriptParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPIPSScriptIdDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetAPIPSScriptIdDataResult" nillable="true" type="q6:DataTableResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSearchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" minOccurs="0" name="searchRequest" nillable="true" type="q7:ClientSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSearchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetClientSearchDataResult" nillable="true" type="q8:ClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractSearchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" minOccurs="0" name="searchRequest" nillable="true" type="q9:ContractSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractSearchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetContractSearchDataResult" nillable="true" type="q10:ContractData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPSearchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" minOccurs="0" name="searchRequest" nillable="true" type="q11:KPSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPSearchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetKPSearchDataResult" nillable="true" type="q12:KPData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientIRSToLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientGuid" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientIRSToLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="ClientIRSToLocalResult" nillable="true" type="q14:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientGuid" type="q15:guid" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGuid" nillable="true" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetClientDataResult" nillable="true" type="q17:ClientSimpleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractGuid" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGuid" nillable="true" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetContractDataResult" nillable="true" type="q20:ContractInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSaveToIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" minOccurs="0" name="client" nillable="true" type="q21:ClientObject" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSaveToIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="ClientSaveToIRSResult" nillable="true" type="q23:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractIRSToLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractGuid" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractIRSToLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="ContractIRSToLocalResult" nillable="true" type="q25:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSaveToIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="contract" nillable="true" type="q26:ContractObject" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSaveToIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="ContractSaveToIRSResult" nillable="true" type="q28:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KpIRSToLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="kpGuid" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KpIRSToLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="KpIRSToLocalResult" nillable="true" type="q30:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KpIrsToLocalAtTargetServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="kpGuid" type="q31:guid" />
        <xs:element minOccurs="0" name="serverCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KpIrsToLocalAtTargetServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="KpIrsToLocalAtTargetServerResult" nillable="true" type="q32:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KpSaveToIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" minOccurs="0" name="kp" nillable="true" type="q33:KpDocumentObject" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KpSaveToIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="KpSaveToIRSResult" nillable="true" type="q35:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KpDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="kpGuid" type="q36:guid" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KpDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="KpDocumentContentResult" nillable="true" type="q38:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoIRSToLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teoGuid" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoIRSToLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="TeoIRSToLocalResult" nillable="true" type="q40:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoIrsToLocalAtTargetServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teoGuid" type="q41:guid" />
        <xs:element minOccurs="0" name="serverCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoIrsToLocalAtTargetServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="TeoIrsToLocalAtTargetServerResult" nillable="true" type="q42:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoSaveToIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="teo" nillable="true" type="q43:TeoDocumentObject" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoSaveToIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="TeoSaveToIRSResult" nillable="true" type="q45:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTEOContainers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="referenceId" type="q46:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTEOContainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetTEOContainersResult" nillable="true" type="q47:TEOContainerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTEOBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="referenceId" type="q48:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTEOBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetTEOBookingResult" nillable="true" type="q49:TEOBookingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEOSearchByContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teoList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="containerNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEOSearchByContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="TEOSearchByContainerResult" nillable="true" type="q50:TEOReferenceGuidData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTeoBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teoGuid" type="q51:guid" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="currencyGuid" type="q52:guid" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTeoBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="SetTeoBillResult" nillable="true" type="q54:GuidResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoBillDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="billGuid" type="q55:guid" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoBillDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="TeoBillDocumentContentResult" nillable="true" type="q57:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="docGuid" type="q58:guid" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="DocumentContentResult" nillable="true" type="q60:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstructionDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instrId" type="xs:int" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="type" type="q61:PrintDocumentType" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q62:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstructionDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="InstructionDocumentContentResult" nillable="true" type="q63:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docId" type="xs:int" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q64:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="BookingDocumentContentResult" nillable="true" type="q65:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeoSearchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="searchRequest" nillable="true" type="q66:TeoSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeoSearchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetTeoSearchDataResult" nillable="true" type="q67:TeoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseDocumentPdfDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="transshipmentGuid" type="q68:guid" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseDocumentPdfDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="BaseDocumentPdfDocumentContentResult" nillable="true" type="q70:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseDocumentDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="transshipmentGuid" type="q71:guid" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q72:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseDocumentDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="BaseDocumentDocumentContentResult" nillable="true" type="q73:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractGuid" type="q74:guid" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q75:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="ContractContentResult" nillable="true" type="q76:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractPdfContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractGuid" type="q77:guid" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q78:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractPdfContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="ContractPdfContentResult" nillable="true" type="q79:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TeoGuid" type="q80:guid" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q81:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="TeoDocumentContentResult" nillable="true" type="q82:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoPdfDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TeoGuid" type="q83:guid" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LanguageGuid" nillable="true" type="q84:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoPdfDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="TeoPdfDocumentContentResult" nillable="true" type="q85:DocumentContentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractGuid" type="q86:guid" />
        <xs:element minOccurs="0" name="billSumm" type="xs:decimal" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q87:guid" />
        <xs:element minOccurs="0" name="isClient" type="xs:boolean" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="CreateContractBillResult" nillable="true" type="q88:BillCreationResponceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransshipmentServiceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Order.Objects" minOccurs="0" name="transshipmentServices" nillable="true" type="q89:TransshipmentServicesObject" />
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="langGuid" nillable="true" type="q90:guid" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q91:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransshipmentServiceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="CreateTransshipmentServiceOrderResult" nillable="true" type="q92:OrderCreationResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKDTSContractSearchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" minOccurs="0" name="searchRequest" nillable="true" type="q93:ContractSearchObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKDTSContractSearchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetKDTSContractSearchDataResult" nillable="true" type="q94:ContractData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoOperationSaveToIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="teo" nillable="true" type="q95:TeoOperationObject" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q96:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoOperationSaveToIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="TeoOperationSaveToIRSResult" nillable="true" type="q97:TeoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientGuid" type="q98:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckContractResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoOperationLoadFromIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teoGuid" type="q99:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoOperationLoadFromIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="TeoOperationLoadFromIRSResult" nillable="true" type="q100:TeoOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoExpeditionSaveToIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="teo" nillable="true" type="q101:TeoExpeditionObject" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q102:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoExpeditionSaveToIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="TeoExpeditionSaveToIRSResult" nillable="true" type="q103:TeoExpeditionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoExpeditionLoadFromIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teoGuid" type="q104:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoExpeditionLoadFromIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="TeoExpeditionLoadFromIRSResult" nillable="true" type="q105:TeoExpeditionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceTeoExped">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderGuid" type="q106:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceTeoExpedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetServiceTeoExpedResult" nillable="true" type="q107:TeoExpedServicesResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoExpeditionSaveServicesToIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TeoGuid" type="q108:guid" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="remoteSvcs" nillable="true" type="q109:ArrayOfResultServiceTeoExped" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q110:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoExpeditionSaveServicesToIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="TeoExpeditionSaveServicesToIRSResult" nillable="true" type="q111:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDopSvcTeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderGuid" type="q112:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDopSvcTeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SetDopSvcTeoResult" nillable="true" type="q113:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoExpeditionCalcPriceToIRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TeoGuid" type="q114:guid" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="remoteAddSvcs" nillable="true" type="q115:ArrayOfTeoExpeditionAddServiceObject" />
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q116:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeoExpeditionCalcPriceToIRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="TeoExpeditionCalcPriceToIRSResult" nillable="true" type="q117:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewOrderBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderGuid" type="q118:guid" />
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q119:guid" />
        <xs:element minOccurs="0" name="isClient" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewOrderBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="AddNewOrderBillResult" nillable="true" type="q120:BillCreationResponceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractAccountBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractGuid" type="q121:guid" />
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="index" nillable="true" type="q122:ArrayOfint" />
        <xs:element xmlns:q123="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="billSumm" nillable="true" type="q123:ArrayOfdecimal" />
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q124:guid" />
        <xs:element minOccurs="0" name="isClient" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractAccountBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="CreateContractAccountBillResult" nillable="true" type="q125:BillCreationResponceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetParamCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetParamCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="ResetParamCacheResult" nillable="true" type="q126:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserContractsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PenaltySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="penalty" nillable="true" type="q127:PenaltyObject" />
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q128:guid" />
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="firmGuid" type="q129:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PenaltySaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="PenaltySaveResult" nillable="true" type="q130:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenaltyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="penaltyGuid" type="q131:guid" />
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="langGuid" nillable="true" type="q132:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenaltyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetPenaltyDataResult" nillable="true" type="q133:PenaltyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkPenalty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="penaltyGuid" type="q134:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkPenaltyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="MarkPenaltyResult" nillable="true" type="q135:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageForDes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentGuid" type="q136:guid" />
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGuid" nillable="true" type="q137:guid" />
        <xs:element minOccurs="0" name="isDefLang" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageForDesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetImageForDesResult" nillable="true" type="q138:DesDocumentDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDesImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="documentData" nillable="true" type="q139:DesDocumentData" />
        <xs:element minOccurs="0" name="isClient" type="xs:boolean" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGuid" nillable="true" type="q140:guid" />
        <xs:element minOccurs="0" name="isDefLang" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDesImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SaveDesImageResult" nillable="true" type="q141:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReconcActSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="reconcAct" nillable="true" type="q142:ReconcActObject" />
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q143:guid" />
        <xs:element minOccurs="0" name="needAgree" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReconcActSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="ReconcActSaveResult" nillable="true" type="q144:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGraphSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="data" nillable="true" type="q145:ArrayOfLoadGraphObject" />
        <xs:element minOccurs="0" name="loadPlan" type="xs:boolean" />
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teoGuid" type="q146:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGraphSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="LoadGraphSaveResult" nillable="true" type="q147:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRTransact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" minOccurs="0" name="crCO1Object" nillable="true" type="q148:CRCO1Object" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRTransactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" minOccurs="0" name="CRTransactResult" nillable="true" type="q149:CRCO1Object" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConditionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="conditionGuid" type="q150:guid" />
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="langGuid" nillable="true" type="q151:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConditionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="GetConditionDataResult" nillable="true" type="q152:ConditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConditionSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TransCondition.Objects" minOccurs="0" name="condition" nillable="true" type="q153:ConditionObject" />
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q154:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConditionSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="ConditionSaveResult" nillable="true" type="q155:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="docGuid" type="q156:guid" />
        <xs:element minOccurs="0" name="state" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SetStateResult" nillable="true" type="q157:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGraphFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TeoGuid" type="q158:guid" />
        <xs:element minOccurs="0" name="PlanDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="GraphType" type="xs:boolean" />
        <xs:element minOccurs="0" name="AgreeState" type="xs:boolean" />
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="KontList" nillable="true" type="q159:ArrayOfOUKPKontInfoObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGraphFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="LoadGraphFactResult" nillable="true" type="q160:GraphFactResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGraphFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TeoGuid" type="q161:guid" />
        <xs:element minOccurs="0" name="PlanDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="GraphType" type="xs:boolean" />
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="Obj" nillable="true" type="q162:GraphFactResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGraphFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SaveGraphFactResult" nillable="true" type="q163:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SendSmsResult" nillable="true" type="q164:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRHoldEncashment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" minOccurs="0" name="crTransmittalSheetObject" nillable="true" type="q165:CRTransmittalSheetObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRHoldEncashmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" minOccurs="0" name="CRHoldEncashmentResult" nillable="true" type="q166:CRTransmittalSheetObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchroKpList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="referenceGuid" nillable="true" type="q167:ArrayOfguid" />
        <xs:element minOccurs="0" name="serverCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchroKpListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="SynchroKpListResult" nillable="true" type="q168:KpTeoSyncResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchroTeoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="referenceGuid" nillable="true" type="q169:ArrayOfguid" />
        <xs:element minOccurs="0" name="serverCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchroTeoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" minOccurs="0" name="SynchroTeoListResult" nillable="true" type="q170:KpTeoSyncResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHtml" type="xs:boolean" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SendMailResult" nillable="true" type="q171:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRHoldCashWithdrawals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" minOccurs="0" name="crCW" nillable="true" type="q172:CRCashWithdrawalObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRHoldCashWithdrawalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" minOccurs="0" name="CRHoldCashWithdrawalsResult" nillable="true" type="q173:CRCashWithdrawalObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRCancelCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" minOccurs="0" name="crCancelCheck" nillable="true" type="q174:CRCancelCheckObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRCancelCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.CashRegister.Objects" minOccurs="0" name="CRCancelCheckResult" nillable="true" type="q175:CRCancelCheckObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDislocationDataByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDislocationDataByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="GetDislocationDataByOrderResult" nillable="true" type="q176:DislocationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TeoGuid" type="q177:guid" />
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="Facts" nillable="true" type="q178:ArrayOfFactTransport" />
        <xs:element minOccurs="0" name="ImportBeginDate" type="xs:dateTime" />
        <xs:element xmlns:q179="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q179:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SaveFactResult" nillable="true" type="q180:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSsp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Ssp" minOccurs="0" name="sspo" nillable="true" type="q181:SspObject" />
        <xs:element xmlns:q182="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="firmGuid" type="q182:guid" />
        <xs:element xmlns:q183="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q183:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSspResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SaveSspResult" nillable="true" type="q184:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SspSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkPlanId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SspSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="SspSendResult" nillable="true" type="q185:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractTemplateParamsInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractGuid" type="q186:guid" />
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="templateParams" nillable="true" type="q187:ArrayOfTemplateParameterObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractTemplateParamsIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" minOccurs="0" name="UpdateContractTemplateParamsIntResult" nillable="true" type="q188:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractGuid" type="q189:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="GetDebitParametersResult" nillable="true" type="q190:DebitTemplateParameterObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerPlatformsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="stationGuid" type="q191:guid" />
        <xs:element minOccurs="0" name="NoOukp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerPlatformsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.InfoOnCP.Objects" minOccurs="0" name="GetContainerPlatformsInfoResult" nillable="true" type="q192:InfoAboutCPObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PSGVSActLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PSGVSActLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="PSGVSActLoadResult" nillable="true" type="q193:PSGVSActResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.InfoOnCP.Objects" minOccurs="0" name="GetContainerInfoResult" nillable="true" type="q194:InfoAboutContainerObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PSGVSActSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="actObj" nillable="true" type="q195:PSGVSActObject" />
        <xs:element xmlns:q196="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q196:guid" />
        <xs:element xmlns:q197="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientGuid" nillable="true" type="q197:guid" />
        <xs:element minOccurs="0" name="withCheck" type="xs:boolean" />
        <xs:element minOccurs="0" name="isManager" type="xs:boolean" />
        <xs:element xmlns:q198="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGuid" nillable="true" type="q198:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PSGVSActSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="PSGVSActSaveResult" nillable="true" type="q199:PSGVSActSaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimitSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="limit" nillable="true" type="q200:LimitObject" />
        <xs:element xmlns:q201="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q201:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimitSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="LimitSaveResult" nillable="true" type="q202:LimitsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimitsLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LimitGuid" type="q203:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimitsLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="LimitsLoadResult" nillable="true" type="q204:LimitsLoadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimitEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="limit" nillable="true" type="q205:LimitObject" />
        <xs:element xmlns:q206="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q206:guid" />
        <xs:element minOccurs="0" name="mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LimitEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="LimitEditResult" nillable="true" type="q207:LimitsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>