src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Order.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Order.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TransshipmentServicesObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ClientTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="KnrWagonList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingTheme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransshipmentServicesGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransshipmentServicesObject" nillable="true" type="tns:TransshipmentServicesObject" />
</xs:schema>