src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TransCondition.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TransCondition.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" />
  <xs:complexType name="ConditionObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q1:BaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BeginDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ClientGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ClientTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConditionGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="ContractGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ContractTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConditionObject" nillable="true" type="tns:ConditionObject" />
</xs:schema>