src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KDTS.TEOOperation.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" />
  <xs:complexType name="TeoDocumentObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" base="q1:LtrDocumentObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BookingStatus" type="xs:int" />
          <xs:element minOccurs="0" name="BookingStatusDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ContainerQuantity" type="xs:int" />
          <xs:element minOccurs="0" name="DateTeleg" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EmptyRouteId" type="xs:int" />
          <xs:element minOccurs="0" name="ItranNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KpGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="LoadFromGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="LoadToGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="NTeleg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderType" type="xs:int" />
          <xs:element minOccurs="0" name="PlanNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RailPPList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfTeoServiceObject" />
          <xs:element minOccurs="0" name="SignedClient" type="xs:int" />
          <xs:element minOccurs="0" name="SignedTK" type="xs:int" />
          <xs:element minOccurs="0" name="TeoGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="TeoNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransLenRoad" type="xs:decimal" />
          <xs:element minOccurs="0" name="TransState" type="xs:int" />
          <xs:element minOccurs="0" name="WagonQuantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoDocumentObject" nillable="true" type="tns:TeoDocumentObject" />
  <xs:complexType name="ArrayOfTeoServiceObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeoServiceObject" nillable="true" type="tns:TeoServiceObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeoServiceObject" nillable="true" type="tns:ArrayOfTeoServiceObject" />
  <xs:complexType name="TeoServiceObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" base="q2:LtrServiceObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomsType" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsProfit" type="xs:int" />
          <xs:element minOccurs="0" name="KontPark" type="xs:int" />
          <xs:element minOccurs="0" name="OutCategory" type="xs:int" />
          <xs:element minOccurs="0" name="ParentType" type="xs:int" />
          <xs:element minOccurs="0" name="PayerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RoutType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SrvGroupInd" type="xs:int" />
          <xs:element minOccurs="0" name="SrvGroupType" type="xs:int" />
          <xs:element minOccurs="0" name="WagonPark" type="xs:int" />
          <xs:element minOccurs="0" name="WagonType" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoServiceObject" nillable="true" type="tns:TeoServiceObject" />
  <xs:complexType name="TeoBookingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeoBookingInfo" nillable="true" type="tns:TeoBookingInfo" />
  <xs:complexType name="TeoSearchObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContainerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETSNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItranNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LangGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="StationFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeoSearchObject" nillable="true" type="tns:TeoSearchObject" />
  <xs:complexType name="ArrayOfTeoObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeoObject" nillable="true" type="tns:TeoObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeoObject" nillable="true" type="tns:ArrayOfTeoObject" />
  <xs:complexType name="TeoObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryFromGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="CountryToGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTeleg" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KontPark" type="xs:int" />
      <xs:element minOccurs="0" name="LoadETSNGGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="NTeleg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodBeginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SignedClient" type="xs:int" />
      <xs:element minOccurs="0" name="SignedTK" type="xs:int" />
      <xs:element minOccurs="0" name="StateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="StationFromGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="StationToGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="TeoGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TeoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagonTypeGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Wagonpark" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeoObject" nillable="true" type="tns:TeoObject" />
  <xs:complexType name="TeoOperationObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" base="q3:LtrDocumentObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Calculated" type="xs:boolean" />
          <xs:element minOccurs="0" name="ChangeTeo" type="xs:boolean" />
          <xs:element minOccurs="0" name="ClientTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContainerQuantity" type="xs:int" />
          <xs:element minOccurs="0" name="ContractTitle" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KDTS.TEOOperation.Objects" minOccurs="0" name="Fact" nillable="true" type="q4:ArrayOfOrderFactInfo" />
          <xs:element minOccurs="0" name="IsOrderAcceptedByClientState" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsOrderCreatedByClientState" type="xs:boolean" />
          <xs:element minOccurs="0" name="PriceId" type="xs:int" />
          <xs:element minOccurs="0" name="PriceServiceId" type="xs:int" />
          <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="Summ" type="xs:decimal" />
          <xs:element minOccurs="0" name="TeoGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="TeoNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainTypeFt" type="xs:int" />
          <xs:element minOccurs="0" name="TransDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TransState" type="xs:int" />
          <xs:element minOccurs="0" name="WagonQuantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoOperationObject" nillable="true" type="tns:TeoOperationObject" />
  <xs:complexType name="TeoExpeditionObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TeoOperationObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddServices" nillable="true" type="tns:ArrayOfTeoExpeditionAddServiceObject" />
          <xs:element minOccurs="0" name="Calc284" type="xs:boolean" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DetailType" type="xs:int" />
          <xs:element minOccurs="0" name="EtsngTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GngTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlatformOwner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PlatformTypeGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="PlatformTypeTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReceiverGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ReceiverTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="SenderTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendingTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfTeoExpeditionServiceObject" />
          <xs:element minOccurs="0" name="SizeCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SizeType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TrainIndex" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TrainTypeTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YStatus" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoExpeditionObject" nillable="true" type="tns:TeoExpeditionObject" />
  <xs:complexType name="ArrayOfTeoExpeditionAddServiceObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeoExpeditionAddServiceObject" nillable="true" type="tns:TeoExpeditionAddServiceObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeoExpeditionAddServiceObject" nillable="true" type="tns:ArrayOfTeoExpeditionAddServiceObject" />
  <xs:complexType name="TeoExpeditionAddServiceObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeasureTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceValues" nillable="true" type="tns:ArrayOfTeoExpeditionAddServiceValuesObject" />
      <xs:element minOccurs="0" name="SvcGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SvcTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SvcType" type="xs:int" />
      <xs:element minOccurs="0" name="Tariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeoExpeditionAddServiceObject" nillable="true" type="tns:TeoExpeditionAddServiceObject" />
  <xs:complexType name="ArrayOfTeoExpeditionAddServiceValuesObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeoExpeditionAddServiceValuesObject" nillable="true" type="tns:TeoExpeditionAddServiceValuesObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeoExpeditionAddServiceValuesObject" nillable="true" type="tns:ArrayOfTeoExpeditionAddServiceValuesObject" />
  <xs:complexType name="TeoExpeditionAddServiceValuesObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeoExpeditionAddServiceValuesObject" nillable="true" type="tns:TeoExpeditionAddServiceValuesObject" />
  <xs:complexType name="ArrayOfTeoExpeditionServiceObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeoExpeditionServiceObject" nillable="true" type="tns:TeoExpeditionServiceObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeoExpeditionServiceObject" nillable="true" type="tns:ArrayOfTeoExpeditionServiceObject" />
  <xs:complexType name="TeoExpeditionServiceObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TeoServiceObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
          <xs:element minOccurs="0" name="Dogovor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DogovorFull" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Executor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsHide" type="xs:boolean" />
          <xs:element minOccurs="0" name="PriceServiceId" type="xs:int" />
          <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegionId" type="xs:int" />
          <xs:element minOccurs="0" name="RegionSort" type="xs:int" />
          <xs:element minOccurs="0" name="RegionTotalTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Summa" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="WorkType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkTypeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoExpeditionServiceObject" nillable="true" type="tns:TeoExpeditionServiceObject" />
  <xs:complexType name="ArrayOfResultServiceTeoExped">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultServiceTeoExped" nillable="true" type="tns:ResultServiceTeoExped" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultServiceTeoExped" nillable="true" type="tns:ArrayOfResultServiceTeoExped" />
  <xs:complexType name="ResultServiceTeoExped">
    <xs:sequence>
      <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfExpedServices" />
      <xs:element minOccurs="0" name="TerritoryId" type="xs:int" />
      <xs:element minOccurs="0" name="TerritoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultServiceTeoExped" nillable="true" type="tns:ResultServiceTeoExped" />
  <xs:complexType name="ArrayOfExpedServices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedServices" nillable="true" type="tns:ExpedServices" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedServices" nillable="true" type="tns:ArrayOfExpedServices" />
  <xs:complexType name="ExpedServices">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalService" type="xs:boolean" />
      <xs:element minOccurs="0" name="Executors" nillable="true" type="tns:ArrayOfExpedServiceExec" />
      <xs:element minOccurs="0" name="GropedServices" nillable="true" type="tns:ArrayOfExpedServices" />
      <xs:element minOccurs="0" name="GroupType" type="xs:int" />
      <xs:element minOccurs="0" name="IsGrouped" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHide" type="xs:boolean" />
      <xs:element minOccurs="0" name="MainService" type="xs:boolean" />
      <xs:element minOccurs="0" name="SrvTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="SrvTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedServices" nillable="true" type="tns:ExpedServices" />
  <xs:complexType name="ArrayOfExpedServiceExec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedServiceExec" nillable="true" type="tns:ExpedServiceExec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedServiceExec" nillable="true" type="tns:ArrayOfExpedServiceExec" />
  <xs:complexType name="ExpedServiceExec">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContractTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecId" type="xs:int" />
      <xs:element minOccurs="0" name="ExecName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedServiceExec" nillable="true" type="tns:ExpedServiceExec" />
  <xs:complexType name="ArrayOfLoadGraphObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoadGraphObject" nillable="true" type="tns:LoadGraphObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoadGraphObject" nillable="true" type="tns:ArrayOfLoadGraphObject" />
  <xs:complexType name="LoadGraphObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Volume" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadGraphObject" nillable="true" type="tns:LoadGraphObject" />
  <xs:complexType name="ArrayOfOUKPKontInfoObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OUKPKontInfoObject" nillable="true" type="tns:OUKPKontInfoObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOUKPKontInfoObject" nillable="true" type="tns:ArrayOfOUKPKontInfoObject" />
  <xs:complexType name="OUKPKontInfoObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="KontNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OUKPKontInfoObject" nillable="true" type="tns:OUKPKontInfoObject" />
  <xs:complexType name="GraphFactResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q5:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="KontOwner" type="xs:int" />
          <xs:element minOccurs="0" name="KontQnt" type="xs:int" />
          <xs:element minOccurs="0" name="Konts" nillable="true" type="tns:ArrayOfGraphFactKont" />
          <xs:element minOccurs="0" name="NewKonts" nillable="true" type="tns:ArrayOfGraphFactKont" />
          <xs:element minOccurs="0" name="NoOukpKont" type="xs:int" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SvcKeuGuids" nillable="true" type="q6:ArrayOfguid" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SvcTtnGuids" nillable="true" type="q7:ArrayOfguid" />
          <xs:element minOccurs="0" name="UsedKonts" nillable="true" type="tns:ArrayOfGraphFactKont" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GraphFactResponse" nillable="true" type="tns:GraphFactResponse" />
  <xs:complexType name="ArrayOfGraphFactKont">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraphFactKont" nillable="true" type="tns:GraphFactKont" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraphFactKont" nillable="true" type="tns:ArrayOfGraphFactKont" />
  <xs:complexType name="GraphFactKont">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FactTransIds" nillable="true" type="q8:ArrayOfint" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FactTransIds2" nillable="true" type="q9:ArrayOfint" />
      <xs:element minOccurs="0" name="Flag" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="KontNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KontQnt" type="xs:int" />
      <xs:element minOccurs="0" name="LastOperDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastOperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Move" type="xs:boolean" />
      <xs:element minOccurs="0" name="NaklNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraphFactKont" nillable="true" type="tns:GraphFactKont" />
  <xs:complexType name="DislocationData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q10:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfContainerDislocationInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DislocationData" nillable="true" type="tns:DislocationData" />
  <xs:complexType name="ArrayOfContainerDislocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContainerDislocationInfo" nillable="true" type="tns:ContainerDislocationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainerDislocationInfo" nillable="true" type="tns:ArrayOfContainerDislocationInfo" />
  <xs:complexType name="ContainerDislocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="KontNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperCode" type="xs:int" />
      <xs:element minOccurs="0" name="OperDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperStationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperStationCountryCode" type="xs:int" />
      <xs:element minOccurs="0" name="OperStationCountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperStationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContainerDislocationInfo" nillable="true" type="tns:ContainerDislocationInfo" />
  <xs:complexType name="ArrayOfFactTransport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FactTransport" nillable="true" type="tns:FactTransport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactTransport" nillable="true" type="tns:ArrayOfFactTransport" />
  <xs:complexType name="FactTransport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AxesNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginDateOld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BruttoWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BulkinessSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BulkinessType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalcScheme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalcWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CargoVolume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangedFact" type="xs:boolean" />
      <xs:element minOccurs="0" name="CnvDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeETSNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeGNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConvertDateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostDecl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostExtra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DangerClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DangerSubClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountOut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountPercent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocPlaceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocQnt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurHour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurMinute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraQnt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraQntType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactSourceId" type="xs:int" />
      <xs:element minOccurs="0" name="FactTransId" type="xs:int" />
      <xs:element minOccurs="0" name="FactWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeedNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupPos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndexId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KontNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KontNumberOld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KontOwnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KontPark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoadFromId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoadOutDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoadToId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MWCN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MassSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NDSPercent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaklFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaklNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaklNumberOld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfferID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfferNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperQnt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="OurOfferID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutSubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackQnt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanComDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanComTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatformType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrevLoadETSNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefSectionSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Removed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReportDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SantiLen" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Services" nillable="true" type="q11:ArrayOfguid" />
      <xs:element minOccurs="0" name="SpecificationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SrcKontNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SrcNaklNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SrcOutDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StInDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StOutDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffPerAxeKM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffPerTonnOut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffPerWagonOut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemperatureCond" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransCountryFromId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransCountryToId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransLen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransLenRoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransSpecialTarifId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransSpeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransStationFromId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransStationInId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransStationOutId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransStationToId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckerDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagonCapacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagonNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagonNumberOld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagonOwnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagonPark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagonType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WayBillNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeightType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FactTransport" nillable="true" type="tns:FactTransport" />
</xs:schema>