src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.InfoOnCP.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.InfoOnCP.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" />
  <xs:complexType name="InfoAboutCPObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q1:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="InfoCPList" nillable="true" type="tns:ArrayOfInfoAboutContainerObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InfoAboutCPObject" nillable="true" type="tns:InfoAboutCPObject" />
  <xs:complexType name="ArrayOfInfoAboutContainerObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoAboutContainerObject" nillable="true" type="tns:InfoAboutContainerObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoAboutContainerObject" nillable="true" type="tns:ArrayOfInfoAboutContainerObject" />
  <xs:complexType name="InfoAboutContainerObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Brutto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CargoBrutto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CargoCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CargoName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CargoWeight" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContLastCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContLastDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContLastStation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContLoadCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContLoaded" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContOwner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContOwnerType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContOwnerTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FactWeight" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InfoDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsReady" type="xs:boolean" />
          <xs:element minOccurs="0" name="LocationOnCP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZPU" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InfoAboutContainerObject" nillable="true" type="tns:InfoAboutContainerObject" />
</xs:schema>