src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="KPSearchObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KPNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LangGuid" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KPSearchObject" nillable="true" type="tns:KPSearchObject" />
  <xs:complexType name="ArrayOfKPObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KPObject" nillable="true" type="tns:KPObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKPObject" nillable="true" type="tns:ArrayOfKPObject" />
  <xs:complexType name="KPObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientType" type="xs:boolean" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryFromGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="CountryToGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KPGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="KPNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KontPark" type="xs:int" />
      <xs:element minOccurs="0" name="LoadETSNGGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PeriodBeginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StateId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StationFromGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="StationToGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TEOGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="WagonTypeGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Wagonpark" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KPObject" nillable="true" type="tns:KPObject" />
  <xs:complexType name="KpDocumentObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LtrDocumentObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddConditionsDocLink" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CalcConditions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContainerQuantity" type="xs:int" />
          <xs:element minOccurs="0" name="ContrRelationsType" type="xs:int" />
          <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExternalXML" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KpGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="KpNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RailPPList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefreshExchRates" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfKpServiceObject" />
          <xs:element minOccurs="0" name="TeoGuid" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KpDocumentObject" nillable="true" type="tns:KpDocumentObject" />
  <xs:complexType name="LtrDocumentObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChosenRouteNum" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClientGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContOwner" type="xs:int" />
      <xs:element minOccurs="0" name="ContactEMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CountryFromGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="CountryFromTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryToGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CountryToTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentLanguageGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="CustomsMode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomsType" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeclaredValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DocumentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EtsngGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="GngGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="GuardType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HomeThings" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefaultLanguage" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoadETSNGGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="OutCategory" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodBeginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrevLoadEtsngGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RefSectionSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RouteType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SendingGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
      <xs:element minOccurs="0" name="StateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="StationFromGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="StationFromTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationInGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="StationOutGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="StationToGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="StationToTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="TrainTypeGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="TransType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="WagonPark" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightBrutto" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LtrDocumentObject" nillable="true" type="tns:LtrDocumentObject" />
  <xs:complexType name="ArrayOfKpServiceObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KpServiceObject" nillable="true" type="tns:KpServiceObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKpServiceObject" nillable="true" type="tns:ArrayOfKpServiceObject" />
  <xs:complexType name="KpServiceObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LtrServiceObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExecNotes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRequired" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KpServiceObject" nillable="true" type="tns:KpServiceObject" />
  <xs:complexType name="LtrServiceObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ArmIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Attributes" nillable="true" type="tns:ArrayOfLtrAttributeObject" />
      <xs:element minOccurs="0" name="ConvertRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="DangerClass" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DangerSubClass" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExecContractGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ExecGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ExtRateSource" type="xs:int" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayAcc" type="xs:int" />
      <xs:element minOccurs="0" name="PayAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="PlaceFromGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="PlaceRenderGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PlaceToGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ServiceGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ServiceTypeGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SourceCurrencyId" type="xs:int" />
      <xs:element minOccurs="0" name="SourcePriceServiceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SourceReferenceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SrcVolume" type="xs:decimal" />
      <xs:element minOccurs="0" name="Summ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SummVAT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tariff" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TariffType" type="xs:int" />
      <xs:element minOccurs="0" name="TariffVAT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TerritoryGuid" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LtrServiceObject" nillable="true" type="tns:LtrServiceObject" />
  <xs:complexType name="ArrayOfLtrAttributeObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LtrAttributeObject" nillable="true" type="tns:LtrAttributeObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLtrAttributeObject" nillable="true" type="tns:ArrayOfLtrAttributeObject" />
  <xs:complexType name="LtrAttributeObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="PId" type="xs:int" />
      <xs:element minOccurs="0" name="ParamArrtibGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ParamType" type="xs:int" />
      <xs:element minOccurs="0" name="PlaceRenderGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LtrAttributeObject" nillable="true" type="tns:LtrAttributeObject" />
</xs:schema>