src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" />
  <xs:complexType name="ClientSearchObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsTopN" type="xs:boolean" />
      <xs:element minOccurs="0" name="LangGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="MaxRecords" type="xs:int" />
      <xs:element minOccurs="0" name="SearchDogovor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchInn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchKpp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchOkpo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientSearchObject" nillable="true" type="tns:ClientSearchObject" />
  <xs:complexType name="ArrayOfClientObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientObject" nillable="true" type="tns:ClientObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientObject" nillable="true" type="tns:ArrayOfClientObject" />
  <xs:complexType name="ClientObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q1:BaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="ClientTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientType" type="xs:int" />
          <xs:element minOccurs="0" name="DocDataReceive" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DocIssuer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocSeries" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="FAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FContactFace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FCountryGUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="FEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FFax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIndex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FMobilePhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FSecondName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Inn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JCountryGUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="JIndex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kpp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Okato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Okfc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Okonx" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Okopf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Okpo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PermanentPrintAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostPrintAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegisterCountryGUID" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientObject" nillable="true" type="tns:ClientObject" />
  <xs:complexType name="ContractSearchObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CompanyTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractStatus" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsTopN" type="xs:boolean" />
      <xs:element minOccurs="0" name="LangGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="MaxRecords" type="xs:int" />
      <xs:element minOccurs="0" name="SelfId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractSearchObject" nillable="true" type="tns:ContractSearchObject" />
</xs:schema>