src/Trcont.App.Service/Connected Services/TKApplicationService/TKApplicationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" />
  <xs:import schemaLocation="http://hq-web-10:8087/Service/TKApplicationService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TransCondition.Objects" />
  <xs:complexType name="ArrayOfAPIScriptParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="APIScriptParameter" nillable="true" type="tns:APIScriptParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAPIScriptParameter" nillable="true" type="tns:ArrayOfAPIScriptParameter" />
  <xs:complexType name="APIScriptParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParameterBool" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParameterDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParameterFloat" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ParameterGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ParameterInt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterType" type="tns:APIScriptParameterType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIScriptParameter" nillable="true" type="tns:APIScriptParameter" />
  <xs:simpleType name="APIScriptParameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="apiParameterTypeStr" />
      <xs:enumeration value="apiParameterTypeInt" />
      <xs:enumeration value="apiParameterTypeFloat" />
      <xs:enumeration value="apiParameterTypeGuid" />
      <xs:enumeration value="apiParameterTypeDateTime" />
      <xs:enumeration value="apiParameterTypeBool" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="APIScriptParameterType" nillable="true" type="tns:APIScriptParameterType" />
  <xs:complexType name="DataTableResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q1:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="Tables" nillable="true" type="q2:ArrayOfDataTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataTableResponse" nillable="true" type="tns:DataTableResponse" />
  <xs:complexType name="ClientData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q3:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" minOccurs="0" name="Data" nillable="true" type="q4:ArrayOfClientObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientData" nillable="true" type="tns:ClientData" />
  <xs:complexType name="ContractData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q5:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="Data" nillable="true" type="q6:ArrayOfContractObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractData" nillable="true" type="tns:ContractData" />
  <xs:complexType name="KPData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q7:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.KP.Objects" minOccurs="0" name="Data" nillable="true" type="q8:ArrayOfKPObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KPData" nillable="true" type="tns:KPData" />
  <xs:complexType name="ClientSimpleInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q9:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Clients" minOccurs="0" name="Data" nillable="true" type="q10:ClientObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientSimpleInfo" nillable="true" type="tns:ClientSimpleInfo" />
  <xs:complexType name="ContractInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q11:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="Data" nillable="true" type="q12:ContractObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractInfo" nillable="true" type="tns:ContractInfo" />
  <xs:complexType name="DocumentContentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q13:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentContentResponse" nillable="true" type="tns:DocumentContentResponse" />
  <xs:complexType name="TEOContainerData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q14:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q15:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TEOContainerData" nillable="true" type="tns:TEOContainerData" />
  <xs:complexType name="TEOBookingData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q16:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="Data" nillable="true" type="q17:TeoBookingInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TEOBookingData" nillable="true" type="tns:TEOBookingData" />
  <xs:complexType name="TEOReferenceGuidData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q18:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q19:ArrayOfguid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TEOReferenceGuidData" nillable="true" type="tns:TEOReferenceGuidData" />
  <xs:complexType name="GuidResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q20:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Guid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GuidResponse" nillable="true" type="tns:GuidResponse" />
  <xs:complexType name="TeoData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q21:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="Data" nillable="true" type="q22:ArrayOfTeoObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoData" nillable="true" type="tns:TeoData" />
  <xs:complexType name="BillCreationResponceData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q23:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="BillGuid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BillCreationResponceData" nillable="true" type="tns:BillCreationResponceData" />
  <xs:complexType name="OrderCreationResultData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q24:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderCreationResultData" nillable="true" type="tns:OrderCreationResultData" />
  <xs:complexType name="TeoOperationResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q25:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="TeoData" nillable="true" type="q26:TeoOperationObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoOperationResponse" nillable="true" type="tns:TeoOperationResponse" />
  <xs:complexType name="TeoExpeditionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q27:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="TeoData" nillable="true" type="q28:TeoExpeditionObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoExpeditionResponse" nillable="true" type="tns:TeoExpeditionResponse" />
  <xs:complexType name="TeoExpedServicesResponseData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q29:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TEO.Objects" minOccurs="0" name="ServiceTeoExpedTerritories" nillable="true" type="q30:ArrayOfResultServiceTeoExped" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeoExpedServicesResponseData" nillable="true" type="tns:TeoExpedServicesResponseData" />
  <xs:complexType name="PenaltyInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q31:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Contracts.Objects" minOccurs="0" name="Data" nillable="true" type="q32:PenaltyObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PenaltyInfo" nillable="true" type="tns:PenaltyInfo" />
  <xs:complexType name="DesDocumentDataResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q33:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:DesDocumentData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesDocumentDataResponse" nillable="true" type="tns:DesDocumentDataResponse" />
  <xs:complexType name="DesDocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Base64Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOriginal" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DesDocumentData" nillable="true" type="tns:DesDocumentData" />
  <xs:complexType name="ConditionInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q34:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.TransCondition.Objects" minOccurs="0" name="Data" nillable="true" type="q35:ConditionObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConditionInfo" nillable="true" type="tns:ConditionInfo" />
  <xs:complexType name="KpTeoSyncResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://schemas.datacontract.org/2004/07/TrafficApplicationServer.Classes" base="q36:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSynchroTeoKpResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KpTeoSyncResult" nillable="true" type="tns:KpTeoSyncResult" />
  <xs:complexType name="ArrayOfSynchroTeoKpResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SynchroTeoKpResult" nillable="true" type="tns:SynchroTeoKpResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSynchroTeoKpResult" nillable="true" type="tns:ArrayOfSynchroTeoKpResult" />
  <xs:complexType name="SynchroTeoKpResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReferenceGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SynchroTeoKpResult" nillable="true" type="tns:SynchroTeoKpResult" />
</xs:schema>